default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: 'App\Shared\Infrastructure\Symfony\Kernel'
